/* 
    Created on : Aug 19, 2015, 3:23:37 PM
    Author     : Raman Liubimau
*/

.soauth-link {
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  vertical-align: middle;
  cursor: pointer;
  border-image: none;
  border-radius: 4px;
  display: block;
  
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}

.soauth-link>:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.soauth-link:hover {
  color: #fff;
  text-decoration: none;
}

.soauth-facebook { background-color: #3b5998; }
.soauth-google { background-color: #dd4b39; }
.soauth-linkedin { background-color: #007bb6; }
.soauth-twitter { background-color: #2795e9; }
.soauth-vkontakte { background-color: #466482; }
.soauth-instagram { background-color: #3f729b; }
